 <!doctype html>
 
<!--ng-app "movies" defines the angular app that we are using. The name is defined in the movie.module.js -->   
<html lang='en' ng-app="project">
<head>
    <title>Administrator Portal</title>
    
    <!-- These are the links to the bootstrap code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
   <!-- link to angular -->
   <script src='angular.min.js'></script>
 
   <!-- angular code -->
   <script src="project.module.js"></script>
   <script src="data.controller.js"></script>
   <!--movie. controller.js-allows us to display HTML code-->
   <script src="project.filter.js"></script>
</head>
 <!-- Main Content -->
 <div class="container" ng-controller="dataControl">
  
  <!--Header-->
  <div class="row align-items-center justify-content-center">
   <div class="pt-5 col-xs-12">
    <div class="page-header">
     <h1>Student Home</h1>
    </div>
   </div>
  </div> 

  <div class="row">
   <div class="col-xs-12">
    <div class="container">
     <!-- Admin Menu -->
     <ul class="nav nav-pills">
      <li class="nav-item"><a class="nav-link " href="AdminHome.html">Home</a></li>
      <li class="nav-item"><a class="nav-link  active" href="managestudent.html">Manage Students</a></li>
      <li class="nav-item"><a class="nav-link" href="managetutor.html">Manage Tutors</a></li>
      <li class="nav-item"><a class="nav-link" href="managefaculty.html">Manage Faculty</a></li>
      <li class="nav-item"><a class="nav-link" href="managecourses.html">Manage Courses</a></li>
      <li class="nav-item" ng-show="isloggedin"><a class="nav-link" href="home.html" ng-click="logout()">Logout</a>


     </ul>
    </div>
   </div>
  </div>
 
        
          <table style="width:100%">
            <tr>
                <td>Student Name</td>
                <td>Budget </td>
                
            </tr>
            <tr ng-repeat="student in studentData.students">
                <td>{{student.hawk_ID}}</td>
                <td>{{student.budget}}</td>
                <td><button class="btn btn-primary" ng-click="deleteUser(Student.hawk_ID)">Delete</button></td>
                <td><button class="btn btn-primary" ng-click="editUser(true, user)">Edit</button></td>


 
            </tr>
        </table>
    </div>
</body>

        
    </div>
</body>
</html>