<!doctype html>
    <style type = "text/css">
    body {
      height: 200%;
        background-image: url("i.png");
        
        background-position: inherit;
        background-position: center;
      }
    
 </style>


<!--ng-app "project" defines the angular app that we are using. The name is defined in the project.module.js -->
<html lang='en' ng-app="project">

<head>
    <title>Student Portal</title>

    <!-- These are the links to the bootstrap code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- link to angular -->
    <script src='angular.min.js'></script>

    <!-- angular code -->
    <script src="project.module.js"></script>
    <script src="data.controller.js"></script>
    <!--movie. controller.js-allows us to display HTML code-->
    <script src="project.filter.js"></script>
</head>

<body>
    <!-- Main Content -->
    <div class="container" ng-controller="dataControl">

        <h1 class="text-center">Student Courses</h1>
        <div class="nav-center">
            <!-- Student Menu -->
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link" href="StudentHome.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="StudentCourses.html">Your Courses</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="StudentPractice.html">Practice Problems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>

        <table style="width:100%">
            <tr>
                <td>Course Name</td>
                <td>Course ID</td>
                <td>Course Number</td>
                <td>Course Section</td>
            </tr>
            <tr ng-repeat="scourse in scourseData.scourses">
                <td>{{scourse.course_name}}</td>
                <td>{{scourse.course_ID}}</td>
                <td>{{scourse.course_number}}</td>
                <td>{{scourse.course_section}}</td>
            </tr>
        </table>
    </div>
</body>
