  <!doctype html>
 
<!--ng-app "movies" defines the angular app that we are using. The name is defined in the movie.module.js -->   
<html lang='en' ng-app="project">
<head>
    <title>Administrator Portal</title>
    
    <!-- These are the links to the bootstrap code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
   <!-- link to angular -->
   <script src='angular.min.js'></script>
 
   <!-- angular code -->
   <script src="project.module.js"></script>
   <script src="data.controller.js"></script>
   <!--movie. controller.js-allows us to display HTML code-->
   <script src="project.filter.js"></script>
</head>
 <!-- Main Content -->
 <div class="container" ng-controller="dataControl">
  
  <!--Header-->
  <div class="row align-items-center justify-content-center">
   <div class="pt-5 col-xs-12">
    <div class="page-header">
     <h1>Student Home</h1>
    </div>
   </div>
  </div>  
  <div class="row">
   <!-- Card for all movies -->
            <!-- We are getting our data from $scope.data in data.movie.controller.js. The JSON object we get has the data under "players" -->
            <!-- We are defining each "row" of data as player -->
            <div class="card m-1" style="width: 18rem" ng-repeat="student in studentData.students | filter:query">
                 <div ng-init="setEditMode(false, student);"></div>
                    
                    
                    <!-- R E A D    M O D E -->
                    <div ng-if="!getEditMode(student)">
                        <!-- if we arehere, it means that we are not in edit mode -->
                        <div class="card-header">
                            {{student.hawk_ID}}
                             <button class="btn btn-primary" ng-click="setEditMode(true, student)">Edit</button>
                            <button class="btn btn-primary" ng-click="deleteUser(student.hawk_ID)">Delete</button>
                            
                        </div>
                        
                    
                        
                    </div>

            <!-- E D I T    M O D E -->                    
        <div ng-if="getEditMode(student)">
             <div ng-if="getEditMode(student)">
            <!-- edit mode -->
            
                    <form  name="newUserForm" novalidate>
            
                        <!-- name of the movie -->
                        <div class="form-group" ng-class="{ 'text-danger': newUserForm.hawk_ID.$invalid && newUserForm.title.$touched, 'text-success': !newUserForm.hawk_ID.$invalid && newUserForm.hawk_ID.$touched }">
                            <label class="form-control-label" for="hawk_ID">hawk_id: </label>
                            <input type="text" class="form-control" ng-class="{ 'is-invalid': newUserForm.hawk_ID.$invalid && newUserForm.hawk_ID.$touched, 'is-valid': !newUserForm.hawk_ID.$invalid && newUserForm.hawk_ID.$touched }" name="hawk_ID" ng-model="editUser.hawk_ID" ng-minlength="5" id="hawk_ID " required/>
                            <div ng-show="newUserForm.hawk_ID.$invalid && newUserForm.hawk_ID.$touched" >hawk_ID must be 5 characters long-</div>
                        </div>
                
                        <button class="btn btn-primary" ng-click="editUser(edituser)">Save</button>
                        <button class="btn btn-primary" ng-click="setEditUser(false, user)">Cancel</butto
                    </form>
        </div>
            </div>
    