<!doctype html>
 
<!--ng-app "movies" defines the angular app that we are using. The name is defined in the movie.module.js -->   
<html lang='en' ng-app="project">
<head>
    <title>Tutor Portal</title>
    
    <!-- These are the links to the bootstrap code -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
   <!-- link to angular -->
   <script src='angular.min.js'></script>
 
   <!-- angular code -->
   <script src="project.module.js"></script>
   <script src="data.controller.js"></script>
   <!--movie. controller.js-allows us to display HTML code-->
   <script src="project.filter.js"></script>
</head>

<body>
 
 <!-- Main Content -->
<div class="container" ng-controller="dataControl">
  
 <h1 class="text-center">Tutor Home</h1>
 <div class="nav-center">
      <!-- Student Menu -->
     <ul class="nav nav-pills nav-justified">
      <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="tutorSchedule.html">Your Schedule</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Practice Problems</a></li>
      <li class="nav-item"><a class="nav-link" href="login.html" ng-click="logout()">Logout</a></li>


     </ul>
 </div>


   
    <div class="col-sm">   
        <br>  
        <br>                   
        <h1>New Available Session</h1>
        <br>

        <form  name="newSessionForm" novalidate>
            
            <!-- date of session -->
            <div class="form-group" ng-class="{ 'text-danger': newSessionForm.available_date.$invalid && newSessionForm.available_date.$touched, 'text-success': !newSessionForm.available_date.$invalid && newSessionForm.available_date.$touched }">
                <label class="form-control-label" for="slot">available date: </label>
                <input type="date" class="form-control" ng-class="{ 'is-invalid': newSessionForm.available_date.$invalid && newSessionForm.available_date.$touched, 'is-valid': !newSessionForm.slot.$invalid && newSessionForm.available_date.$touched }" name="available_date" ng-model="newSession.available_date" ng-minlength="2" id="available_date " required/>
                <div ng-show="newSessionForm.available_date.$invalid && newSessionForm.available_date.$touched" >PLease input valid date</div>
            </div>
            
            <!-- time of session -->
            <!-- ng-class sets up the style for this element. You'll find a format of 'style': condition, 'style2': condition2 -->
            <!-- notice in ng-class we are using the name of the form, and the name of the input element in the codition statements -->
            <div class="form-group" ng-class="{ 'text-danger': newSessionForm.available_time.$invalid && newSessionForm.available_time.$touched, 'text-success': !newSessionForm.available_time.$invalid && newSessionForm.available_time.$touched}">
                <label>Time: </label>
                <input type="Time" class="form-control" ng-class="{ 'is-invalid': newSessionForm.available_time.$invalid && newSessionForm.available_time.$touched, 'is-valid': !newSessionForm.available_time.$invalid && newSessionForm.available_time.$touched}" name="available_time" ng-model="newSession.available_date" ng-minlength="2" />
                <p ng-show="newSessionForm.available_time.$invalid && newSessionForm.available_time.$touched" >Please enter a valid time</p>
            </div>
            
            <!-- setSession is a function in the controller.  -->
            <button class="btn btn-default" ng-click="setSession(newSession)" ng-disabled="newSessionForm.$invalid">Add Session</button>
        </form>
    </div>

</div>     



 
 
</body>